body {
    font-family: 'Questrial', sans-serif;
}

.mkImage {
    height: 150px;
    width: 150px;
}

p {
    font-size: 35px;
    text-align: center;
    color: white;
    text-shadow: 2px 3px black;
}

#instructions {
    float: none;
    margin-bottom: 27px;
    text-align: center;
}

.crystal {
    margin-left: 23%
}

#allContent {
    width: 100%;
}

body {
    background-image: url("../images/fieldbckground.jpg");
    background-size: inherit;
}

#winOrLoseNotification {
    text-align: center;
    color: #e61718;
    font-size: 40px;
}

.mainText {
    background-color: transparent;
    border-style: none;
}

.crystalInfo {
    background-color: transparent;
    border-style: none;
}

.banner {
    background-color: transparent;
    border-style: none;
}

.bannerAlign {
    height: 175px;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}

#button1 {
    background-color: transparent;
    border: none;
}

#button2 {
    background-color: transparent;
    border: none;
}

#button3 {
    background-color: transparent;
    border: none;
}

#button4 {
    background-color: transparent;
    border: none;
}
